<div class="title-wrap">
    <div class="header">
        <nav>
            <ul>
                <li>
                    <a href="/">DAMWIDI Investments</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="row mt-5 title-wrap">
        <div class="col-md-6 m-auto">
            <div class="card card-body border-secondary card-shadow">
                <h1 class="text-center mb-3"> <i class="fas fa-user-plus"></i> Register </h1>

                {{> messages}}

                <form action="/users/register" method="POST">

                    {{!-- first row --}}
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="inputFirstname">First Name</label>
                            <input type = "text" 
                                id          = "inputFirstname" 
                                name        = "firstName" 
                                class       = "form-control" 
                                placeholder = "Enter First Name"
                                value       = "{{iif name "typeof field != 'undefined'" name ''}}" />
                        </div>
                        <div class="col-sm-6">
                            <label for="inputLastname">Last Name</label>
                            <input type = "text" 
                                id          = "inputLastname" 
                                name        = "lastName" 
                                class       = "form-control" 
                                placeholder = "Enter Last Name"
                                value       = "{{iif name "typeof field != 'undefined'" name ''}}" />
                        </div>
                    </div>

                    {{!-- second row --}}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="inputEmail">Email</label>
                            <input type        = "email" 
                                id          = "inputEmail" 
                                name        = "email" 
                                class       = "form-control" 
                                placeholder = "Enter Email"
                                value       = "{{iif email "typeof field != 'undefined'" email ''}}" />
                        </div>
                    </div>

                    {{!-- third row --}}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="inputPassword">Password</label>
                            <input type        = "password" 
                                id          = "inputPassword" 
                                name        = "password" 
                                class       = "form-control"
                                placeholder = "Create Password" 
                                value       = "{{iif password "typeof field != 'undefined'" password ''}}" />
                        </div>
                    </div>

                    {{!-- forth row --}}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="inputPassword2">Confirm Password</label>
                            <input type        = "password" 
                                id          = "inputPassword2" 
                                name        = "password2" 
                                class       = "form-control"
                                placeholder = "Confirm Password" 
                                value       = "{{iif password "typeof field != 'undefined'" password ''}}" />
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Register
                    </button>


                </form>
            </div>
        </div>
    </div>


</div>